VITE_SQUARE_APP_ID=sandbox-sq0idb-FAQn4T-3itYTxVWUbRvgMw
VITE_SQUARE_LOCATION_ID=LNEV4XN3R37JQ
SQUARE_ACCESS_TOKEN=EAAAl_SmddrZovtdDsqYLMaNsV7IriDxuUnU37sEDC6to5DMyf7gfOgcT5Vukidt
SQUARE_LOCATION_ID=LNEV4XN3R37JQ
SQUARE_ENVIRONMENT=sandbox
